body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0; list-style:none;font-family: "微软雅黑"; -webkit-appearance: none;}
a{color:#2b2b2b; text-decoration:none}
body{
	font-size:24px;
	background-color:#f7f7f8;
}
img { border:0px;}

.whole{
	overflow:hidden;
}

header{
	overflow:hidden;
	width:100%;
	height:100px;
	background-color:#fff;
	border-bottom:1px solid #e2e2e2;
}
header a.fa{
	list-style:none;
	float:left;
	width:15%;
	font-size:40px;
	line-height:100px;
	text-align:left;
	text-indent: 36px;
	color:#4ad3fe;
}
header span{
	float:left;
	width:70%;
	text-align:center;
	line-height:100px;
	font-size:30px;
}

.seat_head{
	overflow:hidden;
	margin:0 auto;
	width:100%;
	border-bottom:1px solid #ededed;
	padding:10px 29px;
	background-color:#fff;
}
.seat_head h3{
	font-weight:100;
	font-size:36px;
	padding:5px 0;
}
.seat_head span{
	display:inline-block;
	padding: 10px 0;
}
.seat_head span a{
	float:left;
	color:#bcbcbc;
}

.vision{
	padding: 4px 10px;
    border-radius: 3px;
    background-color: #4ad3fe;
    color: #fff !important;
    font-size: 20px;
}

.seat_show{
	overflow:hidden;
	margin:0 auto;
	width:100%;
	border-bottom:1px solid #f2f2f1;
	background-color:#fff;
}
.seat_show ul{
	overflow:hidden;
	padding:15px 25px;
}
.seat_show ul li{
	float:left;
	width:25%;
	text-align:center;
}
.seat_show ul li span{
	float:left;
    padding-left: 20px;
    line-height: 45px;
}
.seat_show ul li i{
	float:left;
	width:45px;
	height:45px;
	overflow:hidden;
	background-image:url(../image/seats.png);
	background-size:100% auto;
}
.seat_show ul li + li i{
	background-position:0 -90px;
}
.seat_show ul li + li + li i{
	background-position:0 -45px;
}
.seat_show ul li + li + li + li i{
	background-image:none;
	border:1px dashed #ee7a7d;
}

.screen{
	position: absolute;
    top: -83px;
    left: 350px;
    width: 500px;
    height: 50px;
    border: 1px solid #c1c1c1;
    border-top: none;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
}

.seat_choose{
	position:relative;
	overflow:hidden;
}
.number{
	/*position:absolute;
	left:0;
	top:0;
	width:40px;*/
	float:left;
	width:4%;
	background-color:#0CF;
	border-radius:4px;
	margin: 80px auto 30px auto;
}
.number ul{
	overflow:hidden;
}
.number ul li{
	float:left;
	width:100%;
	text-align:center;
	line-height: 60px;
    padding: 8px 0;
	color:#fff;
}

.crossnum{
	float:left;
	width:100%;
	background-color:#0CF;
	border-radius:4px;
	margin:3px auto;
}
.crossnum ul{
	overflow:hidden;
}
.crossnum ul li{
	float:left;
	width:60px;
	padding: 3px 5px;
	text-align:center;
	color:#fff;
}

.seats{
	padding:80px 0;
    float: left;
    width: 96%;
    height: 900px;
    position: relative;
	overflow:hidden;
}
.seats >ul{
	width:1200px;
	position: absolute;
	top:80px;
	left:0;
	border: 2px dashed #32abc5;
}
.seats >ul >li{
	float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    padding: 8px 5px;
}
.seats ul li label{
	display:inline-block;
	width:60px;
	height:60px;
	background-image:url(../image/seats.png);
	background-size:100% auto;
}
.seats ul li input:checked ~ label{
	background-position:0 -60px;
}
.seats ul li input{
	display: none;
}

.seats ul li.selected input ~ label{
	background-position:0 -120px;
}


.the_best{
	position:absolute;
	top: 377px;
    left: 418px;
    width: 420px;
    height: 380px;
	border:2px dashed #ee7a7d;
	border-radius:4px;
	z-index: -1;
}


.buttons{
	width:94%;
	margin-left:3%;
	overflow:hidden;
	height:70px;
	background-color:#0CF;
	border-radius:4px;
	text-align:center;
	line-height:70px;
	color: #fff;
    font-size: 26px;
    letter-spacing: 2px;
	margin-top: 40px;
}


/****layer*****/
.layui-m-layercont{
	font-size:32px;
	padding:34px !important;
}