body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0; list-style:none;font-family: "微软雅黑"; -webkit-appearance: none;}
a{color:#2b2b2b; text-decoration:none}
body{
	font-size:24px;
	background-color:#f0f0f0;
}
img { border:0px;}

.whole{
	overflow:hidden;
}

header{
	overflow:hidden;
	width:100%;
	height:100px;
	background-color:#fff;
	border-bottom:1px solid #e2e2e2;
}
header a.fa{
	list-style:none;
	float:left;
	width:15%;
	font-size:40px;
	line-height:100px;
	text-align:left;
	text-indent: 36px;
	color:#4ad3fe;
}
header span{
	float:left;
	width:70%;
	text-align:center;
	line-height:100px;
	font-size:30px;
}
.collect{
	float:right;
	width:15%;
	font-size:36px;
	line-height:100px;
	color:#108ee9;
}




.film-length{
	float:left;
	overflow:hidden;
	width:100%;
	height:50px;
	font-size:24px;
	color:#ccc;
	line-height:50px;
	border-bottom:1px solid #e2e2e2;
	background-color:#fff;
}
.film-length >span{
	padding-left:36px;
}
.film-length span.imax{
	padding: 4px 10px;
	border-radius:3px;
	background-color:#4ad3fe;
	color:#fff;
	font-size:20px;
}
.tips{
	float: left;
	width:100%;
	margin-top:20px;
	line-height:70px;
	background-color:#fff0ad;
	border-top: 1px solid #ffdb38;
	border-bottom: 1px solid #ffdb38;
	color:#d87f12;
	text-indent: 36px;
}

.tab{
	float:left;
	position:relative;
	width:100%;
	height:87px;
	background-color:#fff;
}


#J_MenuX {
	left: 0;
	right: 0;
	top: 0;
	box-sizing: border-box;
	position: absolute;
	height: 86px;
	overflow: hidden;
}

#J_MenuX ul {
	white-space: nowrap;
	position: absolute;
	height: 100%;
}

#J_MenuX ul li {
	display: inline-block;
	width:148px;
	font-size:28px;
	text-align: center;
	line-height: 86px;
	height: 86px;
	color: #837575;
}

#J_MenuX ul li.cur {
	color: #4ad3fe;
    border-bottom: 3px solid #4ad3fe;
    box-sizing: border-box;
}

.xs-container {
	width: 100%;
	height: 100%;
}

/*******tickets-list css*****/
#sessions > div{
	float: left;
    width: 100%;
	overflow:hidden;
}
#sessions > div > ul{
	overflow:hidden;
	margin:0 auto;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	background-color:#fff;
}
#sessions > div ul li{
	float:left;
	width:100%;
	overflow:hidden;
	padding: 15px 20px;
	box-sizing:border-box;
	border-bottom: 1px solid #e2e2e2;
}
#sessions > div ul li .ticket-info{
	float:left;
	width:450px;
	height:auto;
	overflow:hidden;
}
.ticket-info span{
	float:left;
	width:50%;
	padding: 15px 10px 7.5px 10px;
	color:#8a869e;
	line-height: 30px;
	box-sizing:border-box;
}
.start{
	color: #000 !important;
	font-size:30px;
}
.styles{
	color: #000 !important;
}
.buy-btn{
	float:right;
	overflow:hidden;
	margin-top: 30px;
}
.buy-btn span{
	float:left;
	font-size:40px;
	color:#ff4d64;
	margin-right:30px;
}
.buy-btn span b{
	font-weight:100;
	font-size:24px;
}
.buy-btn a{
	float:right;
	border:1px solid #4ad3fe;
	color:#4ad3fe;
	padding:10px 20px;
	border-radius: 4px;
	
}

