body{
    margin: 0px;
}
.head{
    width: 100%;
    height: 30px;
    background: aqua;
    text-align: center;
}
.head h1{

}
.content{
    background: url("/image/bj.jpg");
    border:3px solid yellow;
    width: 80%;
    height: 800px;
}